@media screen and (max-width:1100px) {
    .containerNews{
        padding-left: 0px;
        padding-right: 0px;
    }
    .row{
        padding-left: 0px;
        padding-right: 0px;
        justify-content: space-between;

    }
}
@media screen and (max-width:995) {
    .containerNews{
        padding-left: 0px;
        padding-right: 0px;
    }
    .row{
        /* display: flex;
        align-items: center;
        justify-content: center;*/
        width:inherit;
        width: 100%;
        margin: 0px;  
    grid-template-columns: repeat(auto-fill, minmax(280px, 3fr));

    }
}
.row{
    display: grid;
    justify-content: space-between;
    place-items:center; 
    place-content:center; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding-left: 100px;
    padding-right: 100px; 
    overflow:auto;
    grid-gap: 20px;
    align-items: stretch;
}
.containerNews{
    padding-left: 100px;
    padding-right: 100px;
    box-sizing: border-box;

}
.heading{
    text-align: center;
    margin-top: 70px;
}
.spanColorB{
    color: blue;
}
.spanColorR{
    color: rgb(160, 11, 11);
}
.handlePages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px;
    height: 30px;
}
.handlePages> button{
    width: 130px;
    background-color: rgb(5, 58, 58);
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 8px;
    font-size: 20px;
}